<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="title">
        <h1>Game List</h1>
        <h3>Check out some amazing games</h3>
    </div>
    <ul class="game_row">
        {% for game in games: %}
        <script>
           var showModal = function(game_1) {
                alert(game_1)
                $.ajax({
                type : "GET",
                url : '/details?url=' + game_1,
                success: function (data) {
                    console.log(data);
                    }
                });
            };
        </script>
        <li class="game_item" id="{{ game['uid'] }}" onclick="showModal('{{ game.link }}')">
            <img src="{{ game['thumb_url'] }}" alt="image"/>
            <h3>{{ game['title'] }}</h3>
        </li>
        {% endfor %}
    </ul>
</body>
</html>